extends ../layout

block content

  div.mdl-grid.mdl-grid__container
      div.mdl-cell.mdl-cell--12-col
          h1= title
            button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.create_review.edit-review__content
                i.material-icons add
          .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
            .mdl-tabs__tab-bar
              a.mdl-tabs__tab.is-active(href='#reviews__all') Все
              a.mdl-tabs__tab(href='#reviews__shop') О магазине
              a.mdl-tabs__tab(href='#reviews__products') О Товарах
            #reviews__all.mdl-tabs__panel.is-active
              include reviewList
            #reviews__shop.mdl-tabs__panel
            #reviews__products.mdl-tabs__panel


  dialog.mdl-dialog.mdl-dialog--big
    h4.mdl-dialog__title
    .mdl-dialog__content
    .mdl-dialog__actions
      button.mdl-button#edit_review(type='button') Сохранить
      button.mdl-button.close(type='button') Отменить
  div#snackbar.mdl-js-snackbar.mdl-snackbar
    .mdl-snackbar__text
    button.mdl-snackbar__action(type='button')


