div
  label Имя:
    input(name='name' class='mdl-textfield__input' type='text' required)
    p.error-message
div
  label email:
    input(name='email' type='email' class='mdl-textfield__input' required)
    p.error-message
div
  label Отзыв:
    textarea(name='text' class='mdl-textfield__input' type='text' required)
    p.error-message
div
  input(type='button', value='Отправить', name="reviewCreateSubmit")