div
  label name:
    input(name='name')
div
  label email:
    input(name='email' type='email')
div
  label phone:
    input(name='phone' type='number' min='0')
div
  input(type='button', value='Save', name="userCreateSubmit")