@import 'base/variables';

@import 'base/normalize';
@import 'base/global';

// Import Components
// @import 'components/header';

// Import Layouts
// @import 'layouts/home';

// Import Plugins
//@import '../../node_modules/mdi/css/materialdesignicons.min.css';
@import '../../node_modules/material-design-lite/material.min.css';

form{
  width: 500px;
}
input{
  border: none;
}
input:active, input:focus,textarea:active, textarea:focus {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}