block content
  div.mdl-grid.mdl-grid__container
    div.mdl-cell.mdl-cell--12-col
      h1= title
      form(method='post', action='reviews/create', name='reviewEdit')
        include partials/reviewOneFields