extends layout

block content
  div.mdl-grid.mdl-grid__container
    div.mdl-cell.mdl-cell--12-col
      h1= title
      p Welcome to #{title}
    div.reviews.mdl-cell.mdl-cell--12-col
      each review in reviews
          div.review
            each val, key in review
              li= key
                p= val
          hr

      form(method='post', action='reviews/create', name='reviewCreate')
        include partials/reviewFields