extends layout

block content
  div.mdl-grid.mdl-grid__container
    div.mdl-cell.mdl-cell--12-col
      h1= title
      p Welcome to #{title}
    div.users.mdl-cell.mdl-cell--12-col
      - each user in users
        a(href='/users/get/'+user.id)
          div.user
            - each val, key in user
              li #{key}: #{val}
        a(href='/users/delete/' + user.id)
          i.material-icons close
  h2 Edit user
  form(method='post', action='users/create', name='userCreate')
    include partials/fields
